<h1>Editing Room</h1>

<%= render 'form_edit', room: @room %>

<%= link_to 'Show', @room, :class => "btn btn-outline-secondary minebtn btn-sm" %> |
<%= link_to 'Back', rooms_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
