<h1>Editing Screening</h1>

<%= render 'form', screening: @screening %>

<%= link_to 'Show', @screening, :class => "btn btn-outline-secondary minebtn btn-sm" %> |
<%= link_to 'Back', screenings_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
