<b> Witamy na stronie KinoRails </b>
<% if user_signed_in? %>
  <% if current_user.user? %>
    <p> Jesteś user </p>
  <% end %>
  <% if current_user.admin? %>
    <p> Jesteś admin </p>
  <% end %>
<% end %>
