<h1>New Reservation</h1>
<p id="notice"><%= modified_notice %></p>

<%= render 'form', reservation: @reservation %>

<br/> 

<%= link_to 'Back', reservations_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
